/*styleguide for NaNoWriMo: A Condensed Guide */


@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);

body{
    font-family: 'Libre Baskerville', serif;
    color:#6c2e08;
    background-image: url(images/background.jpg);
    background-size: cover;
    width: 95%;
    margin-left: 0;
}
.header{
    color:white;
    float:left;
    margin: 10px;
}
#bookpage{
    position: relative;
    max-width:1200px;
    top: 10px;
    margin: 0;
}
#navmenu{
    font-size: 20px;
    background-image: url(images/nav_ribbon.png);
    background-size: contain;
    position: absolute;
    top: 115px;
    left: 50px;
    height: 335px;
    width: 130px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}
#navmenu>li{
    margin: 10px;
    float: left;
}
#content{
    width: 700px;
    position:absolute;
    top:200px;
    left:450px
}
#intro{
    text-align: justify;
    font-size: 24px;
}
.external{
    color:#00637f;
    text-decoration: none;
    font-weight: bold;
}
.external:visited{
    color:#6a8287;
}
.external:hover{
    color:#6fc5d7;
}
.navlink{
   color:white;
}
.navlink:link{
    text-decoration: none;     
}
.navlink:hover{
    text-decoration: underline;
}
#navcurrent{
    color:chocolate;
}
footer{
    margin: 20px;
    float: right;
}
#bioimg{
    float:left;
    padding: 15px;
}
#biotext{
    position: relative;
    margin: 35px;
}
.bio{
    padding: 10px;
    margin: 10px;
}
.flourish{
    padding: 10px;
    position: relative;
    left: 300px;
}
#homeimg{
    width: 700px;
}
#nocontent{
    position:relative;
    left: 300px;
}